/***** Custom CSS *****/
.left,#logo,#bottom-columns .block-block img
{
    float:left;
}
.clear
{
    clear:both;
}
#socialbar {
    height: 60px;
    float:right;
    margin-top: 10px;
}
.right,#footer .block-block .content,#primary
{
    float:right;
}
ul.social {
   /* float: right;*/
    list-style: none outside none;
    margin-right: 20px;
    margin-top: 18px;
}
ul.social li {
    float: left;
    margin-left: 10px;
}
body{
    background-color:#000000 !important;
}
#page
{
    background-color:#E2E2E2;
}
hr{
    border-bottom:1px none;
    border-color:#C0C0C0 !important;
    margin-bottom: 9px;
}
/***** CSS of bottom block columns *****/
  .column-block-wrapper {
    float: left;
 }
 #bottom-columns{
    padding-right:20px;
 }
  #bottom-columns .block-block .block-title
  {
    color: #E47B28;
    font-family: arial;
    font-size: 18px;
    padding-top:15px;
  }
  #bottom-columns .block-block
  {
    background-color: #FFFFFF;
    border: 2px solid #DADADA;
    border-radius: 8px 9px 9px 9px;
    padding: 20px 22px 10px 20px;
    box-shadow: 3px 3px 3px #C0C0C0;
    min-height: 367px;
  }
  #bottom-columns .block-block a
  {
    float:right;
    color:#C0C0C0;
    font-style: italic;
  }
  #bottom-columns .block-block h6{
    color:#D06134;
    font-family:arial;
    font-size:12px;
  }
  #bottom-columns .block-block img{
    padding-right:5px;
  }
  #bottom-columns .block-block .content p,#bottom-columns .block-block li 
  {
    color:#000000;
  }
  #bottom-columns .block-block ul{
    margin-left:20px;
  }
  .region-bottom-column-third p{
    font-size: 16px;
    margin-left: 92px;
    /*padding-bottom: 167px;*/
   }
  /***** CSS of Page Layout  *****/
   .one-sidebar.sidebar-second #content {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 72.4681%;
}
  .sidebar-first #sidebar-first {
    margin-left: -102.128%;
  }
  #sidebar-first {
    margin-left: -66.5957%;
    margin-right: 2.12766%;
    width: 24.8936%;
  }
  #sidebar-second {
    margin-left: 0;
    margin-right: 2.12766%;
    width: 21.10%;
    background:none;
  }
/*****************Css For Header Part*******************/
#logo
{
    margin-top: 30px;
}
#primary li a
{
   border-right:1px solid #DF6303;
   font-family:Myriad Pro;
   font-size:14px;
   color:#DF6303;
   padding-left: 5px;
   padding-right: 5px;
}
#primary li a:hover
{
    color:#453265;
}
#primary li.last a
{
   border-right:none;
}
#secondary,.first-time
{
    display:none;
}
/*********Css for Content part***********/
#content,#bottom-columns
{
    padding-left:20px;
    margin-top: 10px;
    border-right: 2px solid #B0C580;
}
#content .title{
    color:#f18638;
    font-size:24px;
    font-weight:bold;
    font-family:Myriad Pro;
    margin: 5px;
    padding: 0;
}
#content-img{
    width:100%;
    height:309px;
    background-repeat:no-repeat !important;
}

.region-content p
{
   color:#000000;
   font-family: Myriad Pro;
   font-size: 14px;
   padding-right: 18px;
   text-align: justify;
}
/************Css for Second sidebar********************/
.region-sidebar-second .block-block .block-title
{
   color:#f18638;
   font-family:Myriad Pro;
   font-size: 18px;
   margin-top: 21px;
}
.region-sidebar-second .block-block p{
   color:#000000;
   font-family: arial;
  font-size: 13px;
}
.region-sidebar-second .block-block span{
    float:right;
    color:#454545;
    font-weight:bold;
    margin-top: 15px;
}
/****************Css for footer part************************/
#footer
{
    margin-top:20px;
    background-color:#2C2C2C;
}
#footer .block-title{
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    padding: 5px;
}
#footer .block-block h6{
    color: #9FBE57;
    float: left;
    padding: 40px 0;
    text-align: center;
    font-size:12px;
}
#footer .block-block img{
    float:left;
    padding: 33px 0px 30px 0;  
}
#footer .block-inner
{
    min-height:100px;
}
